{% extends "base.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <p>
           <img src="https://pbs.twimg.com/profile_images/1256197921025994754/zTE_MEzl_400x400.jpg" alt="logo flyxchain" width="200px" height="auto" />
            </p>
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron card card-block">
				<h2>
					Holding pattern test
                </h2>
                <br /> <br />
				<p>
					 {% block content %}
            <p class="lead">El bearing a la estación es <strong>{{bearing}}</strong> con un curso de outbound de <strong>{{ course }}</strong> en una espera <strong>{{ realholding }}</strong></p>
            {% endblock %}
				</p>
			</div>
			<div class="row">
				<div class="col-md-6">
					<form action="/" method="POST" role="form">
					<div class="form-group">
					    <input class="form-check-input" type="radio" name="holdingValueSelected" id="directHolding" value="directHolding">
                        <label class="form-check-label" for="exampleRadios1"> Entrada Directa</label>
					</div>
					<div class="form-group">
						<input class="form-check-input" type="radio" name="holdingValueSelected" id="offsetHolding" value="offsetHolding">
                        <label class="form-check-label" for="exampleRadios2">Entrada en gota</label>
						</div>
					<div class="form-group">
                        <input class="form-check-input" type="radio" name="holdingValueSelected" id="parallelHolding" value="parallelHolding">
                        <label class="form-check-label" for="exampleRadios3">Entrada paralela</label>
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
					</form>
				</div>
				<div class="col-md-6">
					<p>                      
                        <div class="row begin-countdown">
                            <div class="col-md-12 text-center">
                              <progress value="10" max="10" id="pageBeginCountdown"></progress>
                              <p> Te quedan <span id="pageBeginCountdownText">10 </span> segundos</p>
                            </div>
                          </div>
					</p>
				</div>
            </div>
            <div class="row">
				<div class="col-md-12">
            <br /> <br />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
                <p>Holding Pattern Test ha sido desarrollado por Ayram Perez - (<a href="http://flyxchain.com/" target="_blank">flyxchain</a>). <form action="https://www.paypal.com/donate" method="post" target="_top">
                    <input type="hidden" name="hosted_button_id" value="Y5CLRHXWCUTMQ" />
                    <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/es_ES/i/scr/pixel.gif" width="1" height="1" />
                    </form>
                </p>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
ProgressCountdown(10, 'pageBeginCountdown', 'pageBeginCountdownText').then(value => alert(`Page has started: ${value}.`));

function ProgressCountdown(timeleft, bar, text) {
  return new Promise((resolve, reject) => {
    var countdownTimer = setInterval(() => {
      timeleft--;

      document.getElementById(bar).value = timeleft;
      document.getElementById(text).textContent = timeleft;

      if (timeleft <= 0) {
        clearInterval(countdownTimer);
        location.reload()
      }
    }, 1000);
  });
}
</script>